
# Data
data/
*.csv
*.parquet

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Distribution
build/
dist/
*.egg-info/

# Docker
.dockerignore
