version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: credit_risk_api
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./models:/app/models
    environment:
      - MODEL_PATH=models/fraud_model.pkl
    restart: unless-stopped

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: credit_risk_dashboard
    ports:
      - "8501:8501"
    volumes:
      - ./src:/app/src
    environment:
      - IS_DOCKER=true
    depends_on:
      - api
    restart: unless-stopped
